[user]
	name = Ricky Chien
	email = ricky060709@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	di = diff
	re = remote
	cp = cherry-pick
	lg = log --pretty=format:'%Cred%h%Creset - %Cblue%cN%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	unstage = reset HEAD --
	last = log -1 HEAD
	ac = !git add -A && git commit
	aca = !git add -A && git commit --amend
  sync = !git pull upstream master && git push
[color]
	ui = true
	branch = always
	diff = true
	interactive = always
	status = always
[core]
	editor = vim
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
