[user]
  name = Ricky Chien
  email = rickychien@icloud.com
[color]
  ui = true
  branch = always
  diff = true
  interactive = always
  status = always
[core]
  excludesfile = ~/.gitignore
[push]
  default = current
